In [3]:
import pandas as pd
import numpy as np

In [6]:
df= pd.read_csv('demo_data.csv')

In [3]:
summary_stats=df.groupby('Age Group')['Income'].describe()

In [7]:
df.Age.mean()

np.float64(39.375)

In [8]:
df.Age.mode()

0    23
1    28
2    34
3    35
4    40
5    45
6    50
7    60
Name: Age, dtype: int64

In [4]:
summary_stats

,count,mean,std,min,25%,50%,75%,max
Age Group,,,,,,,,
20-30,2.0,55000.0,21213.203436,40000.0,47500.0,55000.0,62500.0,70000.0
30-40,3.0,60000.0,15000.000000,45000.0,52500.0,60000.0,67500.0,75000.0
40-50,1.0,50000.0,NaN,50000.0,50000.0,50000.0,50000.0,50000.0
50-60,2.0,67500.0,17677.669530,55000.0,61250.0,67500.0,73750.0,80000.0

In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv('Iris.csv')

In [3]:
Species_stats= df.groupby('Species').describe()

In [4]:
Species_stats

                   Id                                                        \
                count   mean       std    min     25%    50%     75%    max
Species
Iris-setosa      50.0   25.5  14.57738    1.0   13.25   25.5   37.75   50.0
Iris-versicolor  50.0   75.5  14.57738   51.0   63.25   75.5   87.75  100.0
Iris-virginica   50.0  125.5  14.57738  101.0  113.25  125.5  137.75  150.0

                SepalLengthCm         ... PetalLengthCm      PetalWidthCm  \
                        count   mean  ...           75%  max        count
Species                               ...
Iris-setosa              50.0  5.006  ...         1.575  1.9         50.0
Iris-versicolor          50.0  5.936  ...         4.600  5.1         50.0
Iris-virginica           50.0  6.588  ...         5.875  6.9         50.0


                  mean       std  min  25%  50%  75%  max
Species
Iris-setosa      0.244  0.107210  0.1  0.2  0.2  0.3  0.6
Iris-versicolor  1.326  0.197753  1.0  1.2  1.3  1.5  1.8
Iris-virginica   2.026  0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 40 columns]

In [ ]:
# setosa = df[df['species']=='setosa']
# versicolor = df[df['species']== 'versicolor']
# virginica = df[df['species']== 'vriginica']
# print('Setosa Stastics:\n',setosa.describe())
# print('versicolor Stastics:\n',versicolor.describe())
# print('virginica Stastics:\n',virginica.describe())